# Running tests with tox for releasing new version

name: Pull requests fosslight_prechecker

on:
  pull_request:
    branches:
       - '*'

jobs:
  check-commit-message:
    name: Check Commit Message
    uses: fosslight/.github/.github/workflows/base-check-commit-message.yml@main
    secrets:
      envPAT: ${{ secrets.GITHUB_TOKEN }}
  build:
    name: Build packages
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            TARGET: ubuntu
            CMD_BUILD: >
                tox -e ubuntu
            OUT_FILE_NAME: fosslight_bin_ubuntu
            ASSET_MIME: application/octet-stream
          - os: windows-latest
            TARGET: windows
            CMD_BUILD: |
                tox -e windows
                pyinstaller --onefile cli.py -n cli --additional-hooks-dir=hooks --collect-datas reuse --collect-datas fosslight_util --add-data="src\fosslight_prechecker\templates\default_template.jinja2;." &&
                move dist\cli.exe fosslight_prechecker_windows.exe && .\fosslight_prechecker_windows.exe
            OUT_FILE_NAME: fosslight_prechecker_windows.exe
            ASSET_MIME: application/vnd.microsoft.portable-executable
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox
        pip install .
        pip install pyinstaller
    - name: Build with pyinstaller for ${{matrix.TARGET}}
      run: ${{matrix.CMD_BUILD}}
  reuse:
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v3
    - name: REUSE Compliance Check
      uses: fsfe/reuse-action@v1
